{% extends 'base.html.twig' %}

{% block title %}Categorie {% endblock %}

{% block body %}

<main class="container">
<div class="d-flex justify-content-between align-items-center">
    <h1>List des categorie</h1>
    <div class="d-flex">
        <a class="btn btn-primary" href="{{ path('app_cate_new') }}">Creér</a>
        <a class="nav-link" href="{{ path('app_article_index') }}">Article</a>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    <div class="d-flex">
                        <a class="nav-link" href="{{ path('app_cate_show', {'id': categorie.id}) }}">Voir</a>
                        <a class="nav-link" href="{{ path('app_cate_edit', {'id': categorie.id}) }}">Editer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}
