{% extends 'user.html.twig' %}

{% block title %}{{app.user}}{% endblock %}

{% block body %}

<main class="container">
    <h1>Profil de : {{app.user}}</h1>
    <p>Votre email:</p>
    <p>{{app.user.email}}</p>

    <div class="d-flex">
        <a href="" class="btn btn-primary btn-sm" role="button">Modifier mon profil</a>
        <a href="" class="btn btn-primary btn-sm" role="button">Modifier mon mot de passe</a>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
        <h2>Article etiter par vous:</h2>
        <p>Total d'articles {{app.user.articles|length}}</p>
    </div>
    {% for article in app.user.articles %}

    <div class="card mb-2">
        <div class="card-body">
            <p class="card-title">{{article.title}}</p> 
            <p> {{article.contenu}}</p> 
            <a class="btn btn-secondary" href="{{path('app_articleId',{id: article.id})}}">Voir</a>
        </div>
    </div>
    {% endfor %}

</main>
{% endblock %}
