{% extends 'base.html.twig' %}

{% block title %}{{cateArticle.name}}{% endblock %}

{% block body %}
<main class="container" >

    <h1 class="mb-5">Liste des {{cateArticle.name}} </h1>
    {% for article in cateArticle.articles %}
        <article>
            <h2 class="card-title fw-bold">{{article.title}}</h2>
            <p class="card-text fs-6 ">Publier le: {{article.datePublication|date("d/m/y")}} by :{{article.user.pseudo}} </p>
            {{article.contenu|raw}}
            <p class="mt-2"><a href="{{path('app_articleId',{id: article.id})}}" class="btn btn-outline-primary">Lire l'article</a></p>
            <hr class="my-5">
        </article>
        {% else %}
            <p class="d-flex justify-content-center mt-4" >Pas d'article avec cette categories</p>
    {% endfor %}    
</main>
{% endblock %}